@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Yeseva+One&display=swap');



.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: coral;

}

.container nav{
    background-color: dodgerblue;
    color: #fff;

}

.container nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.container header{
    grid-column-start: 1;
    grid-column-end: 2;
}

