@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Yeseva+One&display=swap');



.container{
    display: grid;
    grid-template-columns: 1fr 1fr

}

.nav{
    background-color: dodgerblue;
    color: #fff;

}

.nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    grid-column-start: 2;
}

